<h1>Books</h1>
<p>Title</p><p>Body</p>
<% @books.each do |book| %>
 <p>
  <span><%= book.title %></span>
  <span><%= book.body %></span>
  <p><%= link_to "Show" , book_path(book.id) %></p>
  <p><%= link_to "Edit" , edit_book_path(book.id) %></p>
  <P><%= link_to "Delete" , destroy_book_path(book.id), method: :delete, "data-confirm" => "are you sure?" %></P>
 </p>
<% end %>


<h1>
  <strong>New book</strong>
</h1>

<% if @book.errors.any? %>
  <%= @book.errors.count %>件のエラーが発生しました
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>


<%= form_with model: @book, url: 'books', method: :post do |f| %>
 <p>Title</p>
 <%= f.text_field :title %>

 <p>Body</p>
 <%= f.text_area :body %>

 <%= f.submit '投稿' %>
<% end %>
